<%= link_to 'Home', :controller => 'welcome', :action => 'index' %> 
<%= link_to 'Groups', :controller => 'groups', :action => 'index' %> 
<%= link_to 'Documents', :controller => 'documents', :action => 'index' %> 

<br/>
<p></p>