<div class="navigation"><%= link_to 'Home', :controller => 'welcome', :action => 'index' %> </div>
<div class="navigation"><%= link_to 'Groups', :controller => 'groups', :action => 'index' %> </div>
<div class="navigation"><%= link_to 'Documents', :controller => 'documents', :action => 'index' %> </div>

<br/>
<p></p>