<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MyApp!</h1>
    <p>You were invited to <%= @group.name %> </p>
    <p> Follow this link to create an account: <%= @link %>, or copy and paste into your browser. </p> 
    
  </body>
</html>