<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MyApp, <%= @person.name %></h1>
    <p>You have a new group invitation from  <%= @invite.sender.name%></p>
  </body>
</html>