<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MyApp </h1>
    <p>You have a group invitation from <%= current_person.name %></p>
  </body>
</html>