<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MyApp </h1>
    <p>You have a group invitation from <%= @invite.sender.name %></p>
    <p> Enter this token in your home page to join the group <%= @link %>. 
    If you don't have an account, please create one first. </p>
  </body>
</html>